*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.7em;
}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: serif;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0px auto;
}
.row{
    width: 100%;
    float: left;
}
.col12{
    width: 100%;
    float: left;
}
.col6{
    width: 50%;
    float: left;
}
.col4{
    width: 33.33%;
    float: left;
}
/* header css start */
.header{
    width: 100%;
    float: left;
    padding: 10px 0px;
    border-bottom: 2px solid #eee;
}
.header .menu{
    display: block;
    width: 100%;
    text-align: right;
}
.header .menu li{
    list-style: none;
    display: inline-block;
}
.header .menu li a{
    display: block;
    margin: 10px 0px 0px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #0f2656;
}
.header .menu li a:hover{
    cursor: pointer;
    border-bottom: 2px solid #008aff;
}
/* header css end*/
/* banner css start */
.banner{
    width: 100%;
    float: left;
    padding: 80px 0px;
    text-align: center;
}
.banner h1{
    margin-bottom: 10px;
    color: #0f2656;
    line-height: 1.2em;
    font-size: 54px;
}
.banner h1 span{
    color: #008aff;
}
.banner p{
    margin-bottom: 10px;
    color: #0f2656;
    line-height: 1.7em;
    font-size: 16px;
}
.banner .banner-img{
    width: 55%;
    margin: 10px 0px 0px 0px;
}
/* banner css end */
/* feature css start */
.feature{
    width: 100%;
    float: left;
    padding: 80px 0px;
}
.feature-left{
    width: 100%;
    float: left;
    text-align: right;
}
.feature-left h1{
    color: #f15767;
    line-height: 1.2em;
    font-size: 54px;
    margin: 0px 15px 10px 0px;
}
.feature-left p{
    color: #0f2656;
    line-height: 1.7em;
    font-size: 14px;
    margin: 0px 15px 10px 0px;
}
.feature-right{
    width: 100%;
    float: left;
}
.feature-right h1{
    color: #0f2656;
    line-height: 1.2em;
    font-size: 54px;
    margin: 0px 0px 0px 15px;
}
/* feature css end */
/* unleash css start */
.unleash{
    width: 100%;
    float: left;
    padding: 20px 0px 80px;
}
.inner-unleash{
    width: 80%;
    float: left;
    padding: 60px 30px;
    margin: 0px 15px;
}
.inner-unleash img{
    width: 88%;
    height: 170px;
    margin: 0px 10px;
}
.inner-unleash h4{
    font-size: 25px;
    line-height: 1.2em;
    color: #0f2656;
    margin: 0px 0px 0px 20px;
}
.inner-unleash p{
    font-size: 14px;
    line-height: 1.7em;
    color: #0f2656;
    margin: 0px 0px 0px 15px;
}
.bg1{
    background: #fdebed;
}
.bg2{
    background: #ebf9f4;
}
.bg3{
    background: #fff7e8;
}
/* unleash css end */
/* footer css start */
.footer{
    width: 100%;
    float: left;
    background: #008aff;
    text-align: center;
    padding: 20px 0px;
}
.footer p{
    font-size: 14px;
    line-height: 1.7em;
    color: #85d2ff;
}
.footer a{
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
/* footer css end */